.el-tabs__item {
  font-size: 16px;
}
.Button {
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  color: #8590a6;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-radius: 3px;
}
.SearchBar-searchButton {
  margin-left: 12px;
  padding: 0 12px;
  background: transparent;
  border-color: transparent;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.Button--link, .Button--plain {
height: auto;
padding: 0;
line-height: inherit;
background-color: transparent;
border: none;
border-radius: 0;
}

.ListQuestionItem-writeAnswerButton {
  line-height: 28px;
  padding: 0;
  width: 94px;
}

.Button--blue {
  color: #0084ff;
  border-color: #0084ff;
}

.Button--grey {
  color: #8590a6;
  border-color: #8590a6;
}

